.jumbotron{
  background-color:#EC7063 ;
  font-family: 'Amita'; font-size: 22px;
}

#result
{
  display: none;
}
#row1
{
  background-color:#EC7063 ;
  font-family: 'Amita'; font-size: 22px;
}
#col1
{
  background-color: #99A3A4 ;
}
